.blinkingCursor {
  -webkit-animation: blink step-end infinite var(--blinkSpeed);
  -moz-animation: blink step-end infinite var(--blinkSpeed);
  -ms-animation: blink step-end infinite var(--blinkSpeed);
  -o-animation: blink step-end infinite var(--blinkSpeed);
  animation: blink step-end infinite var(--blinkSpeed);
}

@keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: var(--color);
  }
}

@-moz-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-webkit-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-ms-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-o-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}